.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.img-round{
  border-radius: 50%;
}
.img-size-s{
  width: 10px;

}
.img-size-m{
  width: 30px;
}
.img-size-l{
  width: 80px;
}

img-border{
  border: 1px solid #ddd;
  border-radius: 4px;
}
.img-o-5 {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.img-o-1 {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.img-responsive{
  max-width: 100%;
  height: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
